Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

chore: add `carryforward` flag
  .codecov.yml
Due: none

test: comment spec
  libs/state/spec/rx-state.component-patterns.spec.ts
Due: state

feat(template): add awesome feature
  libs/template/let/src/lib/let.directive.ts
Due: template

chore: fix report paths
  .github/workflows/build-and-test.yml
Due: none

chore: fix eslint coverage path
  libs/eslint-plugin/jest.config.js
Due: eslint-plugin

chore(eslint): fix coverage path
  libs/eslint-plugin/jest.config.js
Due: eslint-plugin

chore: switch to `@commitlint/config-angular`
  .commitlintrc.json
  package.json
  yarn.lock
Due: none

chore: update coverage targets
  .codecov.yml
Due: none

chore: update browserslist package
  yarn.lock
Due: none

fix(cdk): make sure tasks queued by NgZone are also executed
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
Due: cdk

fix(cdk): account for NgZone execution time
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
Due: cdk

chore: fix template build warnings
  libs/cdk/package.json
  libs/state/package.json
  libs/template/experimental/viewport-prio/ng-package.json
  libs/template/for/ng-package.json
  libs/template/if/ng-package.json
  libs/template/let/ng-package.json
  libs/template/package.json
  libs/template/push/ng-package.json
  libs/template/unpatch/ng-package.json
  package.json
  yarn.lock
Due: state, template, cdk

refactor(template): harmonize RxIf triggers
  apps/docs/docs/template/api/rx-if-directive.md
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
Due: template

docs: move coercing docs
  apps/docs/docs/cdk/coercing/_docs.md
  apps/docs/docs/cdk/coercing/coercing.mdx
  libs/cdk/coercing/README.md
Due: cdk

docs: move calescing docs
  apps/docs/docs/cdk/coalescing/_docs.md
  apps/docs/docs/cdk/coalescing/coalescing.mdx
  libs/cdk/coalescing/README.md
Due: cdk

docs: move notifications docs
  apps/docs/docs/cdk/notifications/_docs.md
  apps/docs/docs/cdk/notifications/notifications.mdx
  libs/cdk/notifications/README.md
Due: cdk

docs: move template-management docs
  apps/docs/docs/cdk/template-management/template-management.mdx
  libs/cdk/template/README.md
Due: cdk

docs: move transformations docs
  apps/docs/docs/cdk/transformations/transformations.mdx
  libs/cdk/transformations/README.md
Due: cdk

docs: move zone-configuration docs
  apps/docs/docs/cdk/zone-configurations/_docs.md
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  libs/cdk/zone-configurations/README.md
Due: cdk

docs: move zone-less docs
  apps/docs/docs/cdk/zone-less/_docs.md
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  libs/cdk/zone-less/README.md
Due: cdk

docs: move eslint-plugin docs
  apps/docs/docs/eslint-plugin/eslint-plugin.mdx
  libs/eslint-plugin/README.md
Due: eslint-plugin

docs: move render-strategies docs
  apps/docs/docs/cdk/render-strategies/_docs.md
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  libs/cdk/render-strategies/README.md
Due: cdk

docs(state): move actions docs
  apps/docs/docs/state/actions/_docs.md
  apps/docs/docs/state/actions/actions.mdx
  libs/state/actions/README.md
Due: state

docs(state): move effects docs
  apps/docs/docs/state/effects/_docs.md
  apps/docs/docs/state/effects/effects.mdx
  libs/state/effects/README.md
Due: state

docs(state): move selections docs
  apps/docs/docs/state/selections/_docs.md
  apps/docs/docs/state/selections/selections.mdx
  libs/state/selections/README.md
Due: state

docs(state): move state docs
  apps/docs/docs/state/state.mdx
  libs/state/README.md
Due: state

docs: add small improvements
  README.md
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, cdk

docs: tidy up readmes
  libs/cdk/README.md
  libs/cdk/coalescing/README.md
  libs/cdk/coercing/README.md
  libs/cdk/notifications/README.md
  libs/cdk/render-strategies/README.md
  libs/cdk/template/README.md
  libs/cdk/transformations/README.md
  libs/cdk/zone-configurations/README.md
  libs/cdk/zone-less/README.md
  libs/cdk/zone-less/browser/README.md
  libs/cdk/zone-less/rxjs/README.md
  libs/state/README.md
  libs/state/actions/README.md
  libs/state/effects/README.md
  libs/state/selections/README.md
Due: state, cdk

docs: tidy up readmes
  libs/eslint-plugin/README.md
  libs/template/README.md
  libs/template/for/src/lib/README.md
  libs/template/let/src/lib/README.md
  libs/template/unpatch/src/lib/README.md
Due: template, eslint-plugin

Fix small type on local template page
  apps/docs/docs/template/concepts/local-templates.md
Due: none

docs: fix small type on local template page (#1485)
  apps/docs/docs/template/concepts/local-templates.md
Due: none

fix(docs): add wrapper to home table to fix overflow
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
Due: none

fix(docs): fix broken tutorial link in states page and readme
  libs/state/README.md
Due: state

test(cdk): scheduler: add test for work that was added by NgZone
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
Due: cdk

chore(eslint): switch to `@typescript-eslint/utils`
  libs/eslint-plugin/src/lib/configs/index.ts
  libs/eslint-plugin/src/lib/configs/recommended.ts
  libs/eslint-plugin/src/lib/configs/zoneless.ts
  libs/eslint-plugin/src/lib/rules/index.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.ts
  libs/template/unpatch/src/lib/README.md
  package.json
  yarn.lock
Due: template, eslint-plugin

refactor(template): remove root barrel exports
  libs/template/src/index.ts
Due: template

refactor: make use off secondary entrypoint
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/concepts/passing-values/passing-values.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.module.ts
  apps/demos/src/app/features/experiments/state/rx-state.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/shared.module.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/rx-let-vs-push.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/strategies/pixel-priority/pixel-priority.module.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.module.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer.module.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/image-array/image-array.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.module.ts
  apps/ssr/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/src/app/app.module.ts
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
