Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 90%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 90%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
  template:
    paths:
      - libs/template
  cdk:
    paths:
      - libs/cdk
  eslint-plugin:
    paths:
      - libs/eslint-plugin

comment:
  layout: diff, flags, files
  require_changes: true

refactor: make use off secondary entrypoint
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/concepts/passing-values/passing-values.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.module.ts
  apps/demos/src/app/features/experiments/state/rx-state.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/shared.module.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/rx-let-vs-push.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/strategies/pixel-priority/pixel-priority.module.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.module.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer.module.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/image-array/image-array.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.module.ts
  apps/ssr/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/src/app/app.module.ts
Due: none

refactor(template): remove root barrel exports
  libs/template/src/index.ts
Due: template

refactor(template): harmonize LetDirective triggers
  apps/docs/docs/template/api/let-directive.md
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
Due: template

docs(cdk): update usage of zone.js
  apps/docs/docs/cdk/zone-configurations/how-to-setup-zone-flags.md
Due: none

test(cdk): fix ProxyZoneSpec#get if Zone is undefined
  libs/cdk/zone-configurations/src/lib/zone-config.spec.ts
Due: cdk

test(template): update RxFor tests
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
Due: template

release(cdk): 1.0.0-rc.4
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 1.0.0-rc.5
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

chore: disable push and postTargets
  libs/cdk/project.json
  libs/state/project.json
Due: state, cdk

chore: add CHANGELOG.md to prettier ignore
  .prettierignore
Due: none

docs(template): move files
  apps/docs/docs/template/template.mdx
  libs/template/README.md
Due: template

fix(docs): add wrapper to home table to fix overflow (#1487)
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
Due: none

docs(cdk): fix broken links in zone-configurations
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
Due: none

Revert "docs(template): move files"
  apps/docs/docs/template/template.mdx
  libs/template/README.md
Due: template

Revert "docs: move eslint-plugin docs"
  apps/docs/docs/eslint-plugin/eslint-plugin.mdx
  libs/eslint-plugin/README.md
Due: eslint-plugin

chore: updated to v15.0.4
  angular.json
  package.json
  projects/ngx-isr-demo/.browserslistrc
  projects/ngx-isr-demo/src/main.server.ts
  projects/ngx-isr-demo/tsconfig.server.json
  projects/ngx-isr/.browserslistrc
  projects/ngx-isr/src/test.ts
  tsconfig.json
  yarn.lock
Due: none

feat: added server context provider
  projects/ngx-isr/src/lib/utils/render-url.ts
Due: none

chore: convert component classes to default and simplify route imports
  projects/ngx-isr-demo/src/app/details.component.ts
  projects/ngx-isr-demo/src/app/page-one.component.ts
  projects/ngx-isr-demo/src/app/page-three.component.ts
  projects/ngx-isr-demo/src/app/page-two.component.ts
  projects/ngx-isr-demo/src/app/routes.ts
Due: none

feat: initial implementation of docs
  package.json
  projects/ngx-isr-demo/src/app/app.component.ts
  projects/ngx-isr-demo/src/app/app.module.ts
  projects/ngx-isr-demo/src/app/app.server.module.ts
  projects/ngx-isr-demo/src/app/components/details.component.ts
  projects/ngx-isr-demo/src/app/components/home.component.ts
  projects/ngx-isr-demo/src/app/components/page-one.component.ts
  projects/ngx-isr-demo/src/app/components/page-three.component.ts
  projects/ngx-isr-demo/src/app/components/page-two.component.ts
  projects/ngx-isr-demo/src/app/custom-title-strategy.ts
  projects/ngx-isr-demo/src/app/layout/header.component.ts
  projects/ngx-isr-demo/src/app/layout/main-layout.component.ts
  projects/ngx-isr-demo/src/app/routes.ts
  projects/ngx-isr-demo/src/app/utils/index.ts
  projects/ngx-isr-demo/src/app/utils/router.utils.ts
  projects/ngx-isr-demo/src/assets/github-mark.svg
  projects/ngx-isr-demo/src/assets/logo.svg
  projects/ngx-isr-demo/src/index.html
  projects/ngx-isr-demo/src/styles.scss
  projects/ngx-isr-demo/tailwind.config.js
  yarn.lock
Due: none

chore: added netlify.toml
  netlify.toml
  package.json
  yarn.lock
Due: none

fix: add deprecated defaultProject to angular.json for netlify to build the app
  angular.json
Due: none

fix: add vercel.json file for deployment
  angular.json
  api/index.js
  netlify.toml
  package.json
  vercel.json
  yarn.lock
Due: none

fix: script in package.json
  package.json
Due: none

fix build command
  package.json
Due: none

feat: added ioredis package and redis cache handler
  package.json
  projects/ngx-isr-demo/redis-cache-handler.ts
  yarn.lock
Due: none

fix: exposed some interfaces and classes in public api
  projects/ngx-isr/src/public-api.ts
Due: none

use redis cache handler in the docs site
  projects/ngx-isr-demo/server.ts
  projects/ngx-isr-demo/src/app/layout/header.component.ts
  projects/ngx-isr-demo/src/app/routes.ts
  projects/ngx-isr/src/lib/isr-handler.ts
Due: none

🚀 Release v0.4.0
  README.md
  projects/ngx-isr/README.md
  projects/ngx-isr/package.json
Due: none

Added logo in readme
  README.md
  package.json
  projects/ngx-isr/README.md
Due: none

update docs
  projects/ngx-isr-demo/src/app/components/home.component.ts
Due: none

docs(cdk): update usage notes of coalesceWith-operator
  libs/cdk/coalescing/src/lib/coalesceWith.ts
Due: cdk

feat: added ISRLogger to make code more readable feat: added types for Request Response and in function params fix: changed the logic that checks if the cache has expired
  projects/ngx-isr-demo/server.ts
  projects/ngx-isr/src/lib/cache-regeneration.ts
  projects/ngx-isr/src/lib/isr-handler.ts
  projects/ngx-isr/src/lib/isr-logger.ts
  projects/ngx-isr/src/lib/utils/render-url.ts
Due: none

#1443 docs move readme documents (#1490)
  apps/docs/docs/cdk/coalescing/_docs.md
  apps/docs/docs/cdk/coalescing/coalescing.mdx
  apps/docs/docs/cdk/coercing/_docs.md
  apps/docs/docs/cdk/coercing/coercing.mdx
  apps/docs/docs/cdk/notifications/_docs.md
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/cdk/render-strategies/_docs.md
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  apps/docs/docs/cdk/template-management/template-management.mdx
  apps/docs/docs/cdk/transformations/transformations.mdx
  apps/docs/docs/cdk/zone-configurations/_docs.md
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  apps/docs/docs/cdk/zone-less/_docs.md
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  apps/docs/docs/state/actions/_docs.md
  apps/docs/docs/state/actions/actions.mdx
  apps/docs/docs/state/effects/_docs.md
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/selections/_docs.md
  apps/docs/docs/state/selections/selections.mdx
  apps/docs/docs/state/state.mdx
  libs/cdk/coalescing/README.md
  libs/cdk/coercing/README.md
  libs/cdk/notifications/README.md
  libs/cdk/render-strategies/README.md
  libs/cdk/template/README.md
  libs/cdk/transformations/README.md
  libs/cdk/zone-configurations/README.md
  libs/cdk/zone-less/README.md
  libs/state/actions/README.md
  libs/state/effects/README.md
  libs/state/selections/README.md
Due: state, cdk

docs(cdk): correct Import in usage notes
  libs/cdk/coalescing/src/lib/coalesceWith.ts
Due: cdk

docs: remove compatibility table from home page docs and main readme
  README.md
  apps/docs/src/pages/index.tsx
Due: none

docs: reorder packages
  README.md
  apps/docs/docusaurus.config.js
Due: none

Update libs/cdk/coalescing/src/lib/coalesceWith.ts
  libs/cdk/coalescing/src/lib/coalesceWith.ts
Due: cdk

docs(cdk): update usage notes of `coalesceWith` operator (#1492)
  libs/cdk/coalescing/src/lib/coalesceWith.ts
Due: cdk
