Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

docs: fix template management link
  libs/cdk/README.md
Due: cdk

docs(state): remove coverage status badge
  apps/docs/docs/state/state.mdx
Due: none

docs: add selection docs
  apps/docs/docs/state/actions/actions.mdx
  apps/docs/docs/state/selections/selections.mdx
Due: none

docs(state): remove coverage status badge (#1497)
  apps/docs/docs/state/state.mdx
Due: none

docs: improvements (#1494)
  README.md
  apps/docs/docusaurus.config.js
  apps/docs/src/pages/index.tsx
  libs/cdk/README.md
Due: cdk

docs: reorder libs
  apps/docs/docs/cdk/cdk.mdx
  apps/docs/docs/eslint-plugin/eslint-plugin.mdx
  apps/docs/docs/template/template.mdx
  apps/docs/src/components/HomepageFeatures/index.tsx
Due: none

docs: import state readme
  apps/docs/docs/state/state.mdx
Due: none

docs: add coverage badges
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, cdk

fix: bump ng-morph to fix vulnerabilities
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
  package.json
  yarn.lock
Due: state, template, cdk

docs(cdk): incorrect frame budget equation
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
Due: none

fix(template): typing of track by key as keyof T
  libs/template/for/src/lib/for.directive.ts
Due: template

feat(template): use default strategy names type for template hint
  apps/demos/src/app/rx-angular-pocs/template/directives/switch/rx-switch-case.directive.ts
  apps/docs/docs/template/api/rx-if-directive.md
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/strategy-handling.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/push/src/lib/push.pipe.ts
Due: template, cdk

docs(ci): setup markdown-link-check
  apps/docs/project.json
  markdown-link-check.config.json
  package.json
  yarn.lock
Due: none

docs: fix broken links
  apps/docs/docs/cdk/render-strategies/strategies/strategies.mdx
  apps/docs/docs/cdk/zone-configurations/how-to-debug-zone-flags.md
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/state/concepts-and-best-practices/get-nested-state-slices.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  libs/state/effects/src/lib/model.ts
Due: state

chore: remove migrations.json
  migrations.json
Due: none

docs: remove typos
  apps/docs/docs/template/api/let-directive.md
Due: none

docs: remove typos
  apps/docs/docs/template/api/rx-for-directive.md
  libs/state/effects/src/lib/model.ts
Due: state

docs: fix links in rxFor directive
  apps/docs/docs/template/api/let-directive.md
Due: none

refactor: fix typing issues and harden API
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-test.component.ts
  libs/template/experimental/virtual-scrolling/src/lib/observe-element-size.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

release(cdk): 1.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

chore(template): update cdk peer dependency
  libs/template/package.json
Due: template

release(template): 1.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

docs: improve selection docs
  apps/docs/docs/state/selections/selections.mdx
Due: none

test(cdk): fix zone-config spec by bypassing ProxyZoneSpec
  libs/cdk/zone-configurations/src/lib/zone-config.spec.ts
Due: cdk

test(cdk): fix broken tests
  libs/cdk/render-strategies/spec/onStrategy.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/asapScheduler.spec.ts
Due: cdk

test(cdk): fix queueScheduler spec
  libs/cdk/zone-less/rxjs/spec/scheduler/queueScheduler.spec.ts
Due: cdk

feat: added modifyCachedHtml and modifyGeneratedHtml callbacks to provide a mechanism to change html on the fly
  README.md
  angular.json
  projects/ngx-isr-demo/server.ts
  projects/ngx-isr/src/lib/isr-handler.ts
  projects/ngx-isr/src/lib/models/isr-handler-config.ts
Due: none

refactor(cdk): remove global strategy
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/native-strategies.ts
Due: cdk

refactor(state): drop transformations and remove re-export of selections
  libs/state/src/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/_internals/valuesComparer.util.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/extract.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/insert.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/remove.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/toDictionary.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/update.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/upsert.ts
  libs/state/src/lib/deprecated/transformation-helpers/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/interfaces/comparable-data-type.ts
  libs/state/src/lib/deprecated/transformation-helpers/interfaces/only-keys-of-specific-type.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/deleteProp.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/dictionaryToArray.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/patch.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/setProp.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/slice.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/toggle.ts
Due: state

refactor(cdk): drop `@rx-angular/cdk/zone-less/rxjs` wrappers
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  libs/cdk/zone-less/rxjs/README.md
  libs/cdk/zone-less/rxjs/ng-package.json
  libs/cdk/zone-less/rxjs/spec/scheduler/animationFrameScheduler.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/asapScheduler.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/queueScheduler.spec.ts
  libs/cdk/zone-less/rxjs/src/index.ts
  libs/cdk/zone-less/rxjs/src/internals/Immediate.ts
  libs/cdk/zone-less/rxjs/src/internals/animationFrameProvider.ts
  libs/cdk/zone-less/rxjs/src/internals/date-time-stamp.provider.ts
  libs/cdk/zone-less/rxjs/src/internals/immediateProvider.ts
  libs/cdk/zone-less/rxjs/src/internals/intervalProvider.ts
  libs/cdk/zone-less/rxjs/src/observable/fromEvent.ts
  libs/cdk/zone-less/rxjs/src/observable/interval.ts
  libs/cdk/zone-less/rxjs/src/observable/timer.ts
  libs/cdk/zone-less/rxjs/src/observable/utils.ts
  libs/cdk/zone-less/rxjs/src/scheduler/Action.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/AnimationFrameAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/AnimationFrameScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/animationFrame.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/AsapAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/AsapScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/asap.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/AsyncAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/AsyncScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/async.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/QueueAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/QueueScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/queue.ts
  libs/cdk/zone-less/rxjs/src/scheduler/scheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/types.ts
  libs/cdk/zone-less/rxjs/src/testing/test-scheduler.ts
  tsconfig.base.json
Due: cdk

Update effects.mdx
  apps/docs/docs/state/effects/effects.mdx
Due: none

docs: improve rx-state landing
  libs/state/README.md
Due: state

Invalidate/regenerate multiple urls with one request
  projects/ngx-isr-demo/server.ts
  projects/ngx-isr-demo/src/app/components/page-one.component.ts
  projects/ngx-isr/src/lib/isr-handler.ts
Due: none

🚀 Release v0.5.0
  README.md
  projects/ngx-isr/README.md
  projects/ngx-isr/package.json
Due: none

docs: small fixes in state landing doc
  libs/state/README.md
Due: state

Update libs/state/README.md
  libs/state/README.md
Due: state

docs: change sections placement
  libs/state/README.md
Due: state

docs(state): improve usage examples
  libs/state/README.md
Due: state

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
